{% extends "rajim/base2.html" %}
{% block content %}

<title>{% block title %}Contacto{% endblock %}</title>
	<div class="container">
	{% if messages %}
		<div class="row">
			<div class="col-xs-12">
				    {% for message in messages %}
				    {% if message.tags == 'success' %}<p class="alert alert-success">{{ message }}</p>{% endif %}
				    {% if message.tags == 'error' %}<h2><p class="alert alert-danger">{{ message }}</p></h2>{% endif %}
				    {% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
	<!-- end header -->

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Contacto</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6657.791846963416!2d-70.68294653436278!3d-33.452017960329435!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x570cc870711695a9!2sDepartamento+de+Ingenier%C3%ADa+Inform%C3%A1tica+USACH!5e0!3m2!1ses!2scl!4v1433117887287" width="600" height="450" frameborder="0" style="border:0"></iframe>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
			{% if user.is_authenticated %}
				<h2>Mantente en contacto con nosotros y <strong>reporta cualquier error que presencies en la pagina<br><br></strong></h2>
					
			<div class="container">
				 <form id="Reporte" autocomplete="on"  method="post">{% csrf_token %} 
                   
								{{ form.Asunto }}
								<br><br>
                                {{ form.Mensaje }}                                                
                                
								</div>
								<center>
                                         <button class="btn btn-theme margintop10 pull-left" type="submit">Enviar mensaje</button>
										 </center>
								<span class="pull-right margintop20">* Porfavor rellena todos los campos marcados.</span>
                            </form>
							  {% endif %}
			</div>
		</div>
	</div>
	</section>
{% endblock content %}