{% extends "rajim/base2.html" %}
{% block content %}
<title>{% block title %}Editar Perfil{% endblock %}</title>
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="fa fa-home"></i></a>
						<i class="icon-angle-right"></i></li>
					
					<li class="active">Editar Perfil</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

       <br>
		<p class=" text-info"> </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img name="photo" alt="User Pic" src="\media\{{user.profile.photo}}" class="img-circle"> </div>
                <form action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}

              			    <input id="id_photo" type="file" name="photo"/>{{form.photo}}

              			    
              			   

					<div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                    	<tr>
	                        <td>Username:</td>
	                        <td> {{ user_form.username }}</td>
                      	</tr>
                      <tr>
                        <td>Nombre:</td>
                        <td>{{user_form.first_name}}</td>
                      </tr>
                      <tr>
                        <td>Apellido:</td>
                        <td>{{user_form.last_name}}</td>
                      </tr>
                      <tr>
                        <td>Ultimo login:</td>
                        <td>{{user.last_login}}</td>
                      </tr>
                        <tr>
                        <td>Fecha registro:</td>
                        <td>{{user.date_joined}}</td>
                      </tr>
                      <tr>
                        <td>Fecha de nacimiento</td>
                        <td>{{perfil_form.fecha_nacimiento_user}}</td>
                      </tr>
                      <tr>
                        <td>Direccion</td>
                        <td>{{ perfil_form.direccion}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{ user_form.email }}</td>
                      </tr>
                      
                     
                    </tbody>
                  </table>
              		

                  <div class="col-sm-6">
                  <h1>{{user.profile.valoracion_user}}</h1>
                  <h1><a href="#" class="btn btn-warning">valoracion</a></h1>	
                  
              	</div>
              	<div class="col-sm-6">
              	 <h1>{{user.profile.descuento}}</h1>
                  <h1><a href="#" class="btn btn-success">descuento</a></h1>
                 </div>	
                </div>
              </div>
            </div>
		 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" href="/rajim/Contacto.html"class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                        <input type="submit" class="btn btn-sm btn-primary" value="Guardar cambios">
						</form>
                        </span>
                    </div>
            
            
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
$(document).ready(function() {
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
        })
    });


    $('[data-toggle="tooltip"]').tooltip();

    $('button').click(function(e) {
        e.preventDefault();
        alert("This is a demo.\n :-)");
    });
});
</script>

{% endblock content %}
